<form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
  <div class="new-expense__controls">
    <div class="new-expense__control">
      <label for="title">Title</label>
      <input id="title" type="text" formControlName="title" />
    </div>
    <div class="new-expense__control">
      <label for="amount">Amount</label>
      <input
        id="amount"
        type="number"
        min="0.01"
        step="0.01"
        formControlName="amount"
      />
    </div>
    <div class="new-expense__control">
      <label for="date">Date</label>
      <input
        id="date"
        type="date"
        min="2022-01-01"
        max="2023-12-31"
        formControlName="date"
      />
    </div>
  </div>
  <div class="new-expense__actions">
    <button type="button" (click)="onCancel()">Cancel</button>
    <button type="submit">Add Expense</button>
  </div>
</form>
